$orange: #F26524;
$black: #333033;
$gray50: #8C8E90;
$turquoise: #00AC98;
$green: #C2D500;

header{
  overflow: hidden!important;
  height: 50vh;
  position: relative;
a{
  position: absolute;
  z-index: 5;
  margin-top: 15px;
}
  .background{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    left: 0;
  }
}

h1{
  position: absolute;
  left: -12.5vw;
  top: 60vh;
  width: 100vh;
  transform: rotate(90deg);
  font-weight: 900;
  font-size: 45px;
  line-height: 45px;
  overflow-x: hidden;
  z-index: 5;
}

h2{
  font-weight: 900;
  text-align: left;
  border-bottom: 9px solid $turquoise;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3{
  font-family: times;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 20px;
  margin-top: 22vh;
  border-bottom: 6px solid $orange;
}
h4{
  font-weight: 900;
    border-bottom: 6px solid $orange;
}
p{
  font-size: 14px;
}

.container-1{
  float: left;
}

.container-2{
  float: left;
}

aside{
  background-color: #f1f1f1;
  border-left: 6px solid $green;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
}
input{
  border-radius: 0;
  outline: none;
  border: 1px solid lightgrey;
}
.input-1{
  width: 47.5%;
  float: left;
  margin-top: 10px;
  margin-right: 5%;
}
.input-2{
  width: 47.5%;
  float: left;
  margin-top: 10px;
}
.input-3{
  margin-top: 10px;
  width: 100%;
  float: left;
}
.input-4{
  border: none;
  background-color: $turquoise;
  color: white;
  margin-top: 10px;
}

footer{
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  float: left;
  ul{
    padding: 0;
    list-style: none;
    li{
      float: left;
    padding-right: 10px;
    }
  }
}
